<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gosvea.mapper.CourseScheduleMapper">
    <!--分类查询-->
    <select id="getCourseSchedule" resultType="org.gosvea.pojo.CourseSchedule">
        SELECT * FROM coursesschedule
        <where>
            <!-- 处理 fromDate 和 toDate 的逻辑 -->
            <choose>
                <!-- 如果 fromDate 和 toDate 都不为空，使用 BETWEEN -->
                <when test="fromDate != null and toDate != null">
                    AND date BETWEEN #{fromDate} AND #{toDate}
                </when>

                <!-- 如果 only fromDate 不为空，使用 date >= fromDate -->
                <when test="fromDate != null">
                    AND date >= #{fromDate}
                </when>

<!--                &lt;!&ndash; 如果 only toDate 不为空，使用 date <= toDate &ndash;&gt;-->
<!--                <when test=" toDate != null">-->
<!--                    AND date <= #{toDate}-->
<!--                </when>-->
            </choose>
            <if test="startTime != null">
                AND start_time = #{startTime}
            </if>
            <if test="endTime != null">
                AND end_time = #{endTime}
            </if>
            <if test="isActive != null">
                AND is_active = #{isActive}
            </if>
            <if test="isProcessed!=null">
                AND is_processed=#{isProcessed}
            </if>
            <if test="venueId!=null">
                AND venue_id=#{venueId}
            </if>
            <if test="icpisManager!=null">
                AND icpis_manager=#{icpisManager}
            </if>
        </where>
    </select>

    <!--批量插入courseschedules到数据库-->
    <insert id="insertCourseSchedules" parameterType="list">
        insert into coursesschedule (instructor_id,venue_id,date,start_time,end_time,is_active,address,course_title,price,icpis_manager,registration_link,time_zone,is_enrollwareAdded)
        values
        <foreach collection="list" item="courseschedule" separator=",">
            (#{courseschedule.instructorId},#{courseschedule.venueId},#{courseschedule.date},#{courseschedule.startTime},#{courseschedule.endTime},#{courseschedule.isActive},#{courseschedule.address},#{courseschedule.courseTitle},#{courseschedule.price},#{courseschedule.icpisManager},#{courseschedule.registrationLink},#{courseschedule.timeZone},#{courseschedule.isEnrollwareAdded})
        </foreach>
    </insert>

    <!--批量更新courseschedule到数据库-->
    <update id="updateCourseSchedules" parameterType="list">
        <foreach collection="list" item="courseschedule" separator=";">

                    UPDATE coursesschedule
                    <trim prefix="SET" suffixOverrides=",">
                        <if test="courseschedule.instructorId != null">
                            instructor_id = #{courseschedule.instructorId},
                        </if>
                        <if test="courseschedule.venueId != null">
                            venue_id = #{courseschedule.venueId},
                        </if>
                        <if test="courseschedule.date != null">
                            date = #{courseschedule.date},
                        </if>
                        <if test="courseschedule.startTime != null">
                            start_time= #{courseschedule.startTime},
                        </if>
                        <if test="courseschedule.endTime != null">
                            end_time= #{courseschedule.endTime},
                        </if>
                        <if test="courseschedule.isActive != null">
                            is_active = #{courseschedule.isActive},
                        </if>
                        <if test="courseschedule.address != null">
                            address = #{courseschedule.address},
                        </if>
                        <if test="courseschedule.courseTitle != null">
                            course_title = #{courseschedule.courseTitle},
                        </if>
                        <if test="courseschedule.price!=null">
                            price=#{courseschedule.price},
                        </if>
                        <if test="courseschedule.icpisManager!=null">
                            icpis_manager=#{courseschedule.icpisManager},
                        </if>
                        <if test="courseschedule.registrationLink!=null">
                            registration_link=#{courseschedule.registrationLink},
                        </if>
                        <if test="courseschedule.timeZone!=null">
                            time_zone=#{courseschedule.timeZone},
                        </if>
                        <if test="courseschedule.isEnrollwareAdded!=null">
                            is_enrollwareAdded=#{courseschedule.isEnrollwareAdded},
                        </if>
                        <if test="courseschedule.comments!=null">
                            comments=#{courseschedule.comments}
                        </if>
                    </trim>
                    WHERE id = #{courseschedule.id}

        </foreach>
    </update>

    <!--批量删除courseschedule-->
    <delete id="deleteCourseSchedules" parameterType="java.util.List">
        delete from coursesschedule
        where id IN
        <foreach item="courseschedule" collection="list"  open="(" separator="," close=")">
                #{courseschedule.id}
        </foreach>
    </delete>


    <!--批量查询courseschedule-->
    <select id="findCourseSchedulesByVenueAndDateRange" parameterType="map" resultType="org.gosvea.pojo.CourseSchedule">
        select *
        from coursesschedule
        where venue_id=#{venueId}
        <if test="venueSchedules!=null and venueSchedules.size()>0">
            And(
            <foreach item="schedule" collection="venueSchedules" separator="or">
                (date=#{schedule.date}
                and start_time &lt;=#{schedule.endTime}
                and end_time &gt;=#{schedule.startTime})
            </foreach>
            )
        </if>

    </select>
</mapper>