<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gosvea.mapper.CourseScheduleMapper">
    <!--分类查询-->
    <select id="getCourseSchedule" resultType="org.gosvea.pojo.CourseSchedule">
        SELECT * FROM coursesschedule
        <where>
            <if test="instructorId != null">
                instructor_id = #{instructorId}
            </if>
            <if test="venueId != null">
                AND venue_id = #{venueId}
            </if>
            <if test="date != null">
                AND date = #{date}
            </if>
            <if test="startTime != null">
                AND start_time = #{startTime}
            </if>
            <if test="endTime != null">
                AND end_time = #{endTime}
            </if>
            <if test="isActive != null">
                AND is_active = #{isActive}
            </if>
        </where>
    </select>
</mapper>