<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gosvea.mapper.InstructorMapper">
    <!--ICPIE分类查询-->
    <select id="getInstructor" resultType="org.gosvea.pojo.Instructor">
        select DISTINCT i.*
        from instructors i
        Left join instructor_venue iv on i.id=iv.instructor_id
        <where >
            <if test="state!=null">
                i.state=#{state}
            </if>
            <if test="city!=null">
                and i.city=#{city}

            </if>

            <if test="instructorId!=null">
                and i.id=#{instructorId}

            </if>

            <if test="phoneNumber!=null">
                and i.phone_number=#{phoneNumber}
            </if>

            <if test="wageHour!=null">
                and i.wage_hour=#{wageHour}
            </if>

            <if test="lastname!=null">
                and i.lastname=#{lastname}
            </if>
            <if test="firstname!=null">
                and i.firstname=#{firstname}
            </if>
            <if test="venueId!=null">
                iv.venue_id = #{venueId}
            </if>
        </where>
    </select>
    <!--ICPIS分类查询-->
    <select id="getInstructorByIcpisName" resultType="org.gosvea.pojo.Instructor">
        SELECT DISTINCT i.id,
        i.firstname,
        i.lastname,
        i.state,
        i.city,
        i.phone_number,
        i.email,
        i.fob_key
        from instructors i
        LEFT JOIN instructor_venue iv ON i.id = iv.instructor_id
        LEFT JOIN venue v ON iv.venue_id = v.id
        <where >
            <if test="state!=null">
                i.state=#{state}
            </if>
            <if test="city!=null">
                and i.city=#{city}

            </if>

            <if test="instructorId!=null">
                and i.id=#{instructorId}

            </if>

            <if test="phoneNumber!=null">
                and i.phone_number=#{phoneNumber}
            </if>


            <if test="lastname!=null">
                AND i.lastname LIKE CONCAT('%', #{lastname}, '%')
            </if>
            <if test="firstname!=null">
                AND i.firstname LIKE CONCAT('%', #{firstname}, '%')
            </if>
            <if test="venueId!=null">
               and iv.venue_id = #{venueId}
            </if>
            <if test="icpisname != null">
                AND (i.icpis_manager = #{icpisname} OR v.icpis_manager = #{icpisname})
            </if>
        </where>
    </select>
<!--更新单个Instructor-->
    <update id="updateInstructor" >
        update instructors
        <set>
<!--            <if test="venueId!=null">-->
<!--                venue_id=#{venueId},-->
<!--            </if>-->
            <if test="firstname!=null">
                firstname=#{firstname},
            </if>
            <if test="lastname!=null">
                lastname=#{lastname},
            </if>
            <if test="state!=null">
                state=#{state},
            </if>
            <if test="city!=null">
                city=#{city},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="phoneNumber!=null">
                phone_number=#{phoneNumber},
            </if>
            <if test="wageHour!=null">
                wage_hour=#{wageHour},
            </if>
            <if test="totalClassTimes!=null">
                total_class_times=#{totalClassTimes},
            </if>
            <if test="deposit!=null">
                deposit=#{deposit},
            </if>
            <if test="rentManikinNumbers!=null">
                rent_manikin_numbers=#{rentManikinNumbers},
            </if>
            <if test="finance!=null">
                finance=#{finance},
            </if>
            <if test="rentStatus!=null">
                rent_status=#{rentStatus},
            </if>
            <if test="fobKey!=null">
                fob_key=#{fobKey},
            </if>
            <if test="salaryInfo!=null">
                salary_info=#{salaryInfo},
            </if>

        </set>
                where id=#{id}

    </update>
    <!--批量更新Instructors到数据库-->
    <update id="updateListInstructors" parameterType="list">
        <foreach collection="list" item="instructor" separator=";">
            <choose>
                <when test="instructor.venueId or instructor.firstname != null or instructor.firstname != null or instructor.lastname != null or
                        instructor.state != null or instructor.city != null or instructor.phoneNumber != null or
                        instructor.email != null or instructor.wageHour != null or instructor.totalClassTimes != null or
                        instructor.deposit != null or instructor.rentManikinNumbers != null or instructor.finance != null or
                        instructor.rentStatus != null or instructor.fobKey != null or instructor.salaryInfo!=null" >
                    UPDATE instructors
                    <trim prefix="SET" suffixOverrides=",">
                        <if test="instructor.venueId != null">
                            venue_id = #{instructor.venueId},
                        </if>
                        <if test="instructor.firstname != null">
                            firstname = #{instructor.firstname},
                        </if>
                        <if test="instructor.lastname != null">
                            lastname = #{instructor.lastname},
                        </if>
                        <if test="instructor.state != null">
                            state = #{instructor.state},
                        </if>
                        <if test="instructor.city != null">
                            city = #{instructor.city},
                        </if>
                        <if test="instructor.phoneNumber != null">
                            phone_number = #{instructor.phoneNumber},
                        </if>
                        <if test="instructor.email != null">
                            email = #{instructor.email},
                        </if>
                        <if test="instructor.wageHour != null">
                            wage_hour = #{instructor.wageHour},
                        </if>
                        <if test="instructor.totalClassTimes != null">
                            total_class_times = #{instructor.totalClassTimes},
                        </if>
                        <if test="instructor.deposit != null">
                            deposit = #{instructor.deposit},
                        </if>
                        <if test="instructor.rentManikinNumbers != null">
                            rent_manikin_numbers = #{instructor.rentManikinNumbers},
                        </if>
                        <if test="instructor.finance != null">
                            finance = #{instructor.finance},
                        </if>
                        <if test="instructor.rentStatus!= null">
                            rent_status = #{instructor.rentStatus},
                        </if>
                        <if test="instructor.fobKey != null">
                           fob_key = #{instructor.fobKey},
                        </if>
                        <if test="instructor.salaryInfo!=null">
                            salary_info=#{instructor.salaryInfo},
                        </if>
                    </trim>
                    WHERE id = #{instructor.id}
                </when>
            </choose>
        </foreach>
    </update>
    <!--批量插入Instructors到数据库-->
    <insert id="insertListInstructors" parameterType="list">
        insert into instructors (id,venue_id,firstname,lastname,state,city,phone_number,email,wage_hour,total_class_times,deposit,rent_manikin_numbers,finance,rent_status,fob_key,salary_info)
        values
        <foreach collection="list" item="instructor" separator=",">
            (#{instructor.id},#{instructor.venueId},#{instructor.firstname},#{instructor.lastname},#{instructor.state},#{instructor.city},#{instructor.phoneNumber},#{instructor.email},#{instructor.wageHour},#{instructor.totalClassTimes},#{instructor.deposit},#{instructor.rentManikinNumbers},#{instructor.finance},#{instructor.rentStatus},#{instructor.fobKey},#{instructor.salaryInfo})
        </foreach>
    </insert>


</mapper>