<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gosvea.mapper.VenueMapper">

    <resultMap id="VenueResultMap" type="org.gosvea.pojo.Venue">
        <id property="id" column="id"/>
        <result property="state" column="state"/>
        <result property="city" column="city"/>
        <result property="icpisManager" column="icpis_manager"/>
        <result property="instructorNames" column="instructorNames"/>
        <result property="address" column="address"/>
        <result property="timeZone" column="time_zone"/>
        <result property="cancellationPolicy" column="cancellation_policy"/>
        <result property="paymentMode" column="payment_mode"/>
        <result property="nonrefundableFee" column="nonrefundable_fee"/>
        <result property="fobKey" column="fob_key"/>
        <result property="deposit" column="deposit"/>
        <result property="membershipFee" column="membership_fee"/>
        <result property="usageFee" column="usage_fee"/>
        <result property="refundableStatus" column="refundable_status"/>
        <result property="bookMethod" column="book_method"/>
        <result property="registrationLink" column="registration_link"/>
        <result property="venueStatus" column="venue_status" />
        <result property="cprPrice" column="cpr_price"/>
        <result property="blsPrice" column="bls_price"/>
        <result property="cpradultPrice" column="cpradult_price"/>
        <result property="cprinstructorPrice" column="cprinstructor_price"/>
        <collection property="instructors" ofType="org.gosvea.pojo.Instructor">
            <id property="id" column="instructor_id"/>
            <result property="firstname" column="firstname"/>
            <result property="lastname" column="lastname"/>

            <result property="" column=""/>
        </collection>
    </resultMap>
     <!--icpie分类查询-->
    <select id="list" resultMap="VenueResultMap">
        SELECT v.*,
        i.id AS instructor_id,
        i.firstname,
        i.lastname
        FROM venue v
        LEFT JOIN instructor_venue iv ON v.id = iv.venue_id
        LEFT JOIN instructors i ON iv.instructor_id = i.id
        <where>
            <if test="state != null">
                v.state = #{state}
            </if>
            <if test="city != null">
                AND v.city = #{city}
            </if>
            <if test="timeZone != null">
                AND v.time_zone = #{timeZone}
            </if>
            <if test="icpisManager != null">
                AND v.icpis_manager = #{icpisManager}
            </if>
            <if test="venueId != null">
                AND v.id = #{venueId}
            </if>
            <if test="venueStatus!=null">
                AND v.venue_status=#{venueStatus}
            </if>

        </where>
        ORDER BY v.id ASC
    </select>

    <!--icpis分类查询-->
    <select id="icpislist" resultMap="VenueResultMap">
        SELECT v.*,
        i.id AS instructor_id,
        i.firstname,
        i.lastname
        FROM venue v
        LEFT JOIN instructor_venue iv ON v.id = iv.venue_id
        LEFT JOIN instructors i ON iv.instructor_id = i.id
        <where>
            <if test="state != null">
                v.state = #{state}
            </if>
            <if test="city != null">
                AND v.city = #{city}
            </if>
            <if test="timeZone != null">
                AND v.time_zone = #{timeZone}
            </if>

            <if test="icpisname!=null">
                AND v.icpis_manager=#{icpisname}
            </if>
            <if test="venueId != null">
                AND v.id = #{venueId}
            </if>
            <if test="venueStatus!=null">
                AND v.venue_status=#{venueStatus}
            </if>

        </where>
        ORDER BY v.id ASC
    </select>
    <!--分类查询-->
    <select id="getNormalStatusVenues" resultType="org.gosvea.pojo.Venue">
        SELECT * FROM venue
        <where>
            venue_status = 'NORMAL'
            <if test="state != null and state != ''">
                AND state = #{state}
            </if>
            <if test="timeZone != null and timeZone != ''">
                AND time_zone = #{timeZone}
            </if>
        </where>
    </select>
    <!--更新数据库-->
    <update id="updateVenue">
        update venue
        <trim prefix="SET" suffixOverrides=",">
            <if test="timeZone != null">
                time_zone = #{timeZone},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="city != null">
                city = #{city},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="cancellationPolicy != null">
                cancellation_policy = #{cancellationPolicy},
            </if>
            <if test="paymentMode != null">
                payment_mode = #{paymentMode},
            </if>
            <if test="nonrefundableFee != null">
                nonrefundable_fee = #{nonrefundableFee},
            </if>
            <if test="fobKey != null">
                fob_key = #{fobKey},
            </if>
            <if test="deposit != null">
                deposit = #{deposit},
            </if>
            <if test="membershipFee != null">
                membership_fee = #{membershipFee},
            </if>
            <if test="usageFee != null">
                usage_fee = #{usageFee},
            </if>
            <if test="refundableStatus != null">
                refundable_status = #{refundableStatus},
            </if>
            <if test="bookMethod != null">
                book_method = #{bookMethod},
            </if>
            <if test="registrationLink != null">
                registration_link = #{registrationLink},
            </if>
<!--            <if test="instructor!=null">-->
<!--                instructor=#{instructor},-->
<!--            </if>-->

            <if test="venueStatus!=null">
                venue_status=#{venueStatus},
            </if>
            <if test="icpisManager!=null">
                icpis_manager=#{icpisManager},
            </if>
            <if test="cprPrice!=null">
                cpr_price=#{cprPrice},
            </if>
            <if test="blsPrice!=null">
                bls_price=#{blsPrice},
            </if>
            <if test="cpradultPrice!=null">
                cpradult_price=#{cpradultPrice},
            </if>
            <if test="cprinstructorPrice!=null">
                cprinstructor_price=#{cprinstructorPrice}
            </if>
        </trim>
        where id=#{id}
    </update>

    <!--批量更新Venue到数据库-->
    <update id="updateListVenues" parameterType="list">
        <foreach collection="list" item="venue" separator=";">
            <choose>
                <when test="venue.state != null or venue.city != null or venue.instructor != null or
                        venue.address != null or venue.timeZone != null or venue.cancellationPolicy != null or
                        venue.paymentMode != null or venue.nonrefundableFee != null or venue.fobKey != null or
                        venue.deposit != null or venue.membershipFee != null or venue.usageFee != null or
                        venue.refundableStatus != null or venue.bookMethod != null or venue.registrationLink != null or
                        venue.venueStatus != null or venue.icpisManager!=null or venue.cprPrice!=null or venue.blsPrice!=null or venue.cpradultPrice!=null or venue.cprinstructorPrice!=null" >
                    UPDATE venue
                    <trim prefix="SET" suffixOverrides=",">
                        <if test="venue.state != null">
                            state = #{venue.state},
                        </if>
                        <if test="venue.city != null">
                            city = #{venue.city},
                        </if>
<!--                        <if test="venue.instructor != null">-->
<!--                            instructor = #{venue.instructor},-->
<!--                        </if>-->
                        <if test="venue.address != null">
                            address = #{venue.address},
                        </if>
                        <if test="venue.timeZone != null">
                            time_zone = #{venue.timeZone},
                        </if>
                        <if test="venue.cancellationPolicy != null">
                            cancellation_policy = #{venue.cancellationPolicy},
                        </if>
                        <if test="venue.paymentMode != null">
                            payment_mode = #{venue.paymentMode},
                        </if>
                        <if test="venue.nonrefundableFee != null">
                            nonrefundable_fee = #{venue.nonrefundableFee},
                        </if>
                        <if test="venue.fobKey != null">
                            fob_key = #{venue.fobKey},
                        </if>
                        <if test="venue.deposit != null">
                            deposit = #{venue.deposit},
                        </if>
                        <if test="venue.membershipFee != null">
                            membership_fee = #{venue.membershipFee},
                        </if>
                        <if test="venue.usageFee != null">
                            usage_fee = #{venue.usageFee},
                        </if>
                        <if test="venue.refundableStatus != null">
                            refundable_status = #{venue.refundableStatus},
                        </if>
                        <if test="venue.bookMethod != null">
                            book_method = #{venue.bookMethod},
                        </if>
                        <if test="venue.registrationLink != null">
                            registration_link = #{venue.registrationLink},
                        </if>
                        <if test="venue.venueStatus != null">
                            venue_status = #{venue.venueStatus},
                        </if>
                        <if test="venue.icpisManager!=null">
                            icpis_manager=#{venue.icpisManager},
                        </if>
                        <if test="venue.cprPrice!=null">
                            cpr_price=#{venue.cprPrice}
                        </if>
                        <if test="venue.blsPrice!=null">
                            bls_price=#{venue.blsPrice}
                        </if>
                        <if test="venue.cpradultPrice!=null">
                            cpradult_price=#{venue.cpradultPrice}
                        </if>
                        <if test="venue.cprinstructorPrice!=null">
                            cprinstructor_price=#{venue.cprinstructorPrice}
                        </if>
                    </trim>
                    WHERE id = #{venue.id}
                </when>
            </choose>
        </foreach>
    </update>
        <!--批量插入Venues到数据库-->
    <insert id="insertListVenues" parameterType="list">
        insert into venue (id,icpis_manager,state,city,address,time_zone,cancellation_policy,payment_mode,nonrefundable_fee,fob_key,deposit,membership_fee,usage_fee,refundable_status,book_method,registration_link,venue_status,cpr_price,bls_price,cpradult_price,cprinstructor_price)
        values
        <foreach collection="list" item="venue" separator=",">
            (#{venue.id},#{venue.icpisManager},#{venue.state},#{venue.city},#{venue.address},#{venue.timeZone},#{venue.cancellationPolicy},#{venue.paymentMode},#{venue.nonrefundableFee},#{venue.fobKey},#{venue.deposit},#{venue.membershipFee},#{venue.usageFee},#{venue.refundableStatus},#{venue.bookMethod},#{venue.registrationLink},#{venue.venueStatus},#{venue.cprPrice},#{venue.blsPrice},#{venue.cpradultPrice},#{venue.cprinstructorPrice})
        </foreach>
    </insert>



</mapper>