<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gosvea.mapper.VenueMapper">
     <!--分类查询-->
     <select id="list" resultType="org.gosvea.pojo.Venue">
         SELECT v.*, CONCAT(i.firstname, ' ', i.lastname) AS instructorName
         FROM venue v
         LEFT JOIN instructors i ON v.instructor = i.id
         <where >
             <if test="state!=null">
                 v.state=#{state}
             </if>
             <if test="city!=null">
                 and v.city=#{city}

             </if>

             <if test="timeZone!=null">
                 and v.time_zone=#{timeZone}

             </if>

             <if test="paymentMethod!=null">
                 and v.payment_method=#{paymentMethod}
             </if>

             <if test="icpisManager!=null">
                 and v.icpis_manager=#{icpisManager}
             </if>


         </where>
     </select>
    <!--分类查询-->
    <select id="getNormalStatusVenues" resultType="org.gosvea.pojo.Venue">
        SELECT * FROM venue
        <where>
            venue_status = 'NORMAL'
            <if test="state != null and state != ''">
                AND state = #{state}
            </if>
            <if test="timeZone != null and timeZone != ''">
                AND time_zone = #{timeZone}
            </if>
        </where>
    </select>
    <!--更新数据库-->
    <update id="updateVenue">
        update venue
        <trim prefix="SET" suffixOverrides=",">
            <if test="timeZone != null">
                time_zone = #{timeZone},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="city != null">
                city = #{city},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="cancellationPolicy != null">
                cancellation_policy = #{cancellationPolicy},
            </if>
            <if test="paymentMode != null">
                payment_mode = #{paymentMode},
            </if>
            <if test="nonrefundableFee != null">
                nonrefundable_fee = #{nonrefundableFee},
            </if>
            <if test="fobKey != null">
                fob_key = #{fobKey},
            </if>
            <if test="deposit != null">
                deposit = #{deposit},
            </if>
            <if test="membershipFee != null">
                membership_fee = #{membershipFee},
            </if>
            <if test="usageFee != null">
                usage_fee = #{usageFee},
            </if>
            <if test="refundableStatus != null">
                refundable_status = #{refundableStatus},
            </if>
            <if test="bookMethod != null">
                book_method = #{bookMethod},
            </if>
            <if test="registrationLink != null">
                registration_link = #{registrationLink},
            </if>
            <if test="instructor!=null">
                instructor=#{instructor},
            </if>

            <if test="venueStatus!=null">
                venue_status=#{venueStatus},
            </if>
            <if test="icpisManager!=null">
                icpis_manager=#{icpisManager},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!--批量更新Venue到数据库-->
    <update id="updateListVenues" parameterType="list">
        <foreach collection="list" item="venue" separator=";">
            <choose>
                <when test="venue.state != null or venue.city != null or venue.instructor != null or
                        venue.address != null or venue.timeZone != null or venue.cancellationPolicy != null or
                        venue.paymentMode != null or venue.nonrefundableFee != null or venue.fobKey != null or
                        venue.deposit != null or venue.membershipFee != null or venue.usageFee != null or
                        venue.refundableStatus != null or venue.bookMethod != null or venue.registrationLink != null or
                        venue.venueStatus != null or venue.icpisManager!=null">
                    UPDATE venue
                    <trim prefix="SET" suffixOverrides=",">
                        <if test="venue.state != null">
                            state = #{venue.state},
                        </if>
                        <if test="venue.city != null">
                            city = #{venue.city},
                        </if>
                        <if test="venue.instructor != null">
                            instructor = #{venue.instructor},
                        </if>
                        <if test="venue.address != null">
                            address = #{venue.address},
                        </if>
                        <if test="venue.timeZone != null">
                            time_zone = #{venue.timeZone},
                        </if>
                        <if test="venue.cancellationPolicy != null">
                            cancellation_policy = #{venue.cancellationPolicy},
                        </if>
                        <if test="venue.paymentMode != null">
                            payment_mode = #{venue.paymentMode},
                        </if>
                        <if test="venue.nonrefundableFee != null">
                            nonrefundable_fee = #{venue.nonrefundableFee},
                        </if>
                        <if test="venue.fobKey != null">
                            fob_key = #{venue.fobKey},
                        </if>
                        <if test="venue.deposit != null">
                            deposit = #{venue.deposit},
                        </if>
                        <if test="venue.membershipFee != null">
                            membership_fee = #{venue.membershipFee},
                        </if>
                        <if test="venue.usageFee != null">
                            usage_fee = #{venue.usageFee},
                        </if>
                        <if test="venue.refundableStatus != null">
                            refundable_status = #{venue.refundableStatus},
                        </if>
                        <if test="venue.bookMethod != null">
                            book_method = #{venue.bookMethod},
                        </if>
                        <if test="venue.registrationLink != null">
                            registration_link = #{venue.registrationLink},
                        </if>
                        <if test="venue.venueStatus != null">
                            venue_status = #{venue.venueStatus},
                        </if>
                        <if test="venue.icpisManager!=null">
                            icpis_manager=#{venue.icpisManager},
                        </if>
                    </trim>
                    WHERE id = #{venue.id}
                </when>
            </choose>
        </foreach>
    </update>
        <!--批量插入Venues到数据库-->
    <insert id="insertListVenues" parameterType="list">
        insert into venue (id,icpis_manager,state,city,address,instructor,time_zone,cancellation_policy,payment_mode,nonrefundable_fee,fob_key,deposit,membership_fee,usage_fee,refundable_status,book_method,registration_link,venue_status)
        values
        <foreach collection="list" item="venue" separator=",">
            (#{venue.id},#{venue.icpisManager},#{venue.state},#{venue.city},#{venue.address},#{venue.instructor},#{venue.timeZone},#{venue.cancellationPolicy},#{venue.paymentMode},#{venue.nonrefundableFee},#{venue.fobKey},#{venue.deposit},#{venue.membershipFee},#{venue.usageFee},#{venue.refundableStatus},#{venue.bookMethod},#{venue.registrationLink},#{venue.venueStatus})
        </foreach>
    </insert>



</mapper>